* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1.5rem;
  width: 100%;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}
.nav a {
}
